*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json

*.bat
*.apk
*.class
bin/
out/
local.properties
*.log

# for security reasons, do not track this file
app/google-services.json